body {
  background-color: white;
}

#all {
  background-color: white;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#lblOutput{
  padding-top: 5px;
  color:#990000;
}

input[type=text]{
  float:right;
}

#stuff {
    border-radius: 25px;
    border: 2px solid #990000;
    padding: 20px;

     
}


header {
  text-align: center;
  /*background-color:#990000;*/
  color: #990000;
  font-size: 14px;

}

button {
    margin:10px;
}

nav {
  background-color: #AAADB3;
  float: left;
  width: 150px;
  height: 525px;
}

details {
  padding-left: 10px;
}

.block { 
  display: inline;
  width: 60%; 
  text-align: left; 
   font-weight: bold;
  margin-right:10px;

 }

#content {
  background-color: white;
  float: middle;
  width: 440px;
  /*height: 400px;*/
  padding-left: 10px;
  text-align: center;
}

img {
  width: 500px;
  background-color: white;
  align: center;
  onclick: "showImg(this.src,800,1200,'bearbearbearbear');"
  /*height: 400px;*/
}

label{
    font-weight: bold;
    margin-right:10px;


}

input{
  width: 100%;
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
     margin-left: 10px; 
}

footer {
  color: white;
  background-color: #0E3A73;
  clear: both;
  text-align: center;
}
